<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    
    package="edu.kit.gik.STGIS.dataresource"
    android:versionCode="1"
    android:versionName="1.0" >
	<!--package="com.andredittrich.main" -->
    <uses-sdk android:minSdkVersion="14" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
 	<uses-feature android:name="android.hardware.camera" />
	 <uses-feature android:name="android.hardware.camera.autofocus" />
	 <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        "
	<!--<uses-feature android:glEsVersion="0x00020000" android:required="true" /> -->
	
    <application
        android:icon="@drawable/erdegreentest"
        android:label="@string/app_name" android:debuggable="true">
        <activity
            android:name="edu.kit.gik.STGIS.dataresource.ResourceSelection"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.kit.gik.STGIS.view3d.InteractiveActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
               <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.kit.gik.STGIS.view3d.ARActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape">
            <intent-filter>
               <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.kit.gik.STGIS.dataresource.WFSSelection"
            android:label="@string/app_name" >
            <intent-filter>
               <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.kit.gik.STGIS.dataresource.FeatureTypeSelection"
            android:label="@string/app_name" >
            <intent-filter>
               <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="edu.kit.gik.STGIS.dataresource.DataOnSDSelection"
            android:label="@string/app_name" >
            <intent-filter>
               <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>